# Download and configure rules_swiftformat.

${http_archive_statement}

load(
    "@cgrindel_rules_swiftformat//swiftformat:deps.bzl", 
    "swiftformat_register_toolchains", 
    "swiftformat_rules_dependencies",
)

swiftformat_rules_dependencies()

# Specify the version of SwiftFormat that you want to use
swiftformat_register_toolchains(version = "0.51.10")

# Configure the dependencies for rules_swiftformat

load(
    "@cgrindel_bazel_starlib//:deps.bzl",
    "bazel_starlib_dependencies",
)

bazel_starlib_dependencies()

load(
    "@build_bazel_rules_swift//swift:repositories.bzl",
    "swift_rules_dependencies",
)

swift_rules_dependencies()

load(
    "@build_bazel_rules_swift//swift:extras.bzl",
    "swift_rules_extra_dependencies",
)

swift_rules_extra_dependencies()
